<!DOCTYPE html>
<html>
<head>
  <title>DropdownSelectInput</title>
  <%= stylesheet_link_tag    "dropdown_select_input/application", media: "all" %>
  <%= javascript_include_tag "dropdown_select_input/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
